* {
	margin: ;
	padding: ;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ramabhadra', sans-serif;
*/

body {
    font: 300 15px/28px "Poppins", sans-serif;
    letter-spacing: 0px;
    padding: 0px;
    overflow-x: hidden;
    z-index: 0;
    position: relative;
}

.container {
	margin: auto;
	max-width: 100%;
	overflow: auto;
	padding: 3rem 2rem;
}



.radio {
	margin-left: 25px;
}

.prov-r1, 
.prov-car, 
.prov-r2, 
.prov-r3, 
.prov-r4a, 
.prov-r4b, 
.prov-r5, 
.prov-r6, 
.prov-r7, 
.prov-r8, 
.prov-r9, 
.prov-r10, 
.prov-r11, 
.prov-r12, 
.prov-r13, 
.prov-barmm {
	display: none;	
}

#city-ncr {
	display: none;	
}


.modal {
	padding-top: 20px;
}


#callTo {
	margin: auto;
	width: 700px;
	padding: 3rem 2rem;
	background-color: #f2f2f2;
	border-radius: 15px;
}

#faqs {
	margin: auto;
	width: 1200px;
	overflow: auto;
	margin-top: 1rem;
	padding: 3rem 2rem;
}

#emergencyHotlines {
	margin: auto;
	max-width: auto;
	overflow: auto;
	padding: 3rem 2rem;
	text-align: center;

}




h1 {
	max-width: 100%;
	text-align: left;
	font-family: 'Ramabhadra', sans-serif;
	color: hsl(0, 0%, 13%);
	font-size: 75px;
}

h2 { 
	font-family: 'PT Serif', serif;
	color: hsl(0, 0%, 13%);
	font-size: 50px;
}

h3 { 
	color: hsl(0, 0%, 13%);
	font-family: 'Montserrat', sans-serif;
	margin-left: 30px;
}

h3 span { 
	font-size: 20px;
}

h4 {
	padding: 5px 0  0 20px;
	color: hsl(0, 0%, 20%);
	font-size: 25px;
}

h4 ~ p {
	padding: 0 0  0 70px;
	color: hsl(0, 0%, 45%);
}

h5 {
	padding: 5px;
	color: hsl(0, 0%, 29%);

}

label h3 {
	margin-right: 20px;
}



.travelHistoryChoice {
	margin-left: 90px;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

.form-check-label {
	margin-left: 90px;
	font-size: 20px;
	width: 600px;
	font-family: 'Montserrat', sans-serif;
	/*background-color: red;*/
	padding-left: 5px;
	padding-top: 8px;
}


nav.navbar {
	opacity: 0.99;
	width: 100%;
	background: linear-gradient(to top, rgba(255,255,255,1) 30%,rgba(255,255,255,0) 200%);
}


.btn {
	display: block;
	width: 100%;
	padding: 10px 15px;
	border: 0;
	background: #4287f5;
	color: #f2f2f2;
	border-radius: 5px;
	margin: 5px 0;
}

.btn-prev{
	width: 48%;
	margin-right: 5px;
	background: transparent;
	color: #333;
	border-color: black;
}

.btn-next{
	width: 48%;
	margin-left: 5px;
}

#buttonPrev {
	color: #4287f5;
}


.btn:hover {
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	color: #f2f2f2;
}

.bg-dark {
	background: #333;
	color: #fff;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-align: left;
	color: hsl(0, 0%, 29%);
}

.emergencylvl2 {
	padding: 0px 0px 0px 0px;
}

li p {
    margin-top: 0;
    margin-bottom: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*iframe {
	width: auto;
	height: auto;
}*/

div.footer-main {
   	position: fixed;
   	left: 0;
   	bottom: 0;
   	width: 100%;
	background-color: #0075b3;
   	color: #f2f2f2;
   	text-align: center;
}

.fab {
	color: #f2f2f2;
}


footer div.container-fluid {
   	position: fixed;
   	left: 0;
   	bottom: 5px;
   	width: 100%;
	background-color: #a2c2f5;
   	color: hsl(0, 0%, 50%);
   	text-align: center;
   	height: 180px;
}






#theDevelopers {
	margin: auto;
	max-width: auto;
	overflow: auto;
	text-align: center;

}


.theDevelopers {
	height: 350px;
	max-width: 1200px;
	margin: auto; 
}

.theDevelopers2 {
	height: 350px;
	max-width: 1200px;
	margin: auto; 
}

.developersContain {
	padding-top: 20px;
	padding-bottom: 20px;
}

/*NAME*/

#nameatabout {
	width: 200px;
	margin-top: 40px;
	margin-left: -100px; /*half of width*/
	border-radius: 15px;
	color: #fafafa;
	font-size: 20px;
}

div > span {
	width: 200px;
	margin-top: 40px;
	margin-left: -100px; /*half of width*/
	border-radius: 15px;
	color: #fafafa;
	font-size: 1px;
}

.junImg {
	background-image: url('../jun.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
	background-attachment: unset;
}

.jenImg {
	background-image: url('../jenina.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
	background-attachment: unset;
}


.laraImg {
	background-image: url('../lara.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
	background-attachment: unset;
}






/*DESCRIPTION*/

#description {
	font: caption;
    width: 250px;
    margin-top: 80px;
    margin-left: -125px; /*half of width*/
    border-radius: 15px;
    color: #fafafa;
    font-size: 14px;
    text-overflow: unset;
    font-family: inherit;
    font-weight: inherit;
}


#iconsImg {
	width: 20%;
	vertical-align: middle;
    border-style: none;
    margin-top: 230px;
	border-radius: 15px;
	color: #fafafa;
}

#iconsImgrow2 {
	width: 20%;
	vertical-align: middle;
    border-style: none;
    margin-top: 230px;
	border-radius: 15px;
	color: #fafafa;
}

.theDeveloperTitle {
	margin-bottom: 20px;
	margin-top: -10px;
}








 /*media queries*/

@media only screen and (max-width: 812px) and (min-width: 375px) {
	#callTo {
		width: auto;
	}

	h1 { 
		font-size: 45px;
	}

	h2 { 
	font-family: 'PT Serif', serif;
	color: hsl(0, 0%, 13%);
	font-size: 33px;
	}

	h4 ~ p {
		padding: 0;
		font-size: 16px;
	}

	h4 {
		padding: initial;
		font-size: 25px;
	}

	#faqs {
		width: auto;
	}

	#emergencyHotlines > h4 {
		font-size: 22px;
	}

	#emergencyHotlines > h5 {
		font-size: 17px;
	}

	.modal {
		overflow-y: auto;
	}

	footer div.container-fluid {
   	height: 125px;
	}

	.pt-5, .py-5 {
    padding-top: 45px;
	}

	.travelHistoryChoice {
    margin-left: 50px;
	}
	
	.form-check-label {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    width: auto;
	}

	div.footer-main {
	font-size: 10px;
	}

	dl, ol, ul {
    margin-right: 20px;
	}

	.theDeveloperTitle {
		margin-top: inherit;
	}

	
	.theDevelopers {
	height: 1000px;
	max-width: 1200px;
	margin: auto; 
	}

	#iconsImg {
	margin-top: 220px;
	}


	.theDevelopers2 {
	height: 900px;
	max-width: 1200px;
	margin: auto; 
	}

	#iconsImgrow2 {
	margin-top: 195px;
	}

	.jenImg {
	background-image: url('../lara.jpg');
	}

	.laraImg {
	background-image: url('../jenina.jpg');
	}

	#nameatabout {
	margin-top: 25px;
	}

	#description {
    margin-top: 60px;

}



}



/*tablet style*/
@media only screen and (max-width: 812px) and (min-width: 737px) {
	
	#callTo {
		width: 600px;
	}

	#faqs {
		width: auto;
	}




}



/* desktop styling */
@media only screen and (min-width: 961px) {
	
	#callTo {
		width: 600px;
	}

	#faqs {
		width: auto;
	}

	#emergencyHotlines {
		padding-left: 30px;
	}




}
