* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ramabhadra', sans-serif;
*/

body {
    font: 300 15px/28px "Poppins", sans-serif;
    letter-spacing: 0px;
    padding: 0px;
    overflow-x: hidden;
    z-index: 0;
    position: relative;
}

#bodyIndex{
	background:
	linear-gradient(rgba(2, 55, 40, 0.75), rgba(0, 22, 58, 0.45)), url(../images/virus.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	margin: auto;
	max-width: 100%;
	overflow: auto;
	padding: 3rem 2rem;
	height: 80vh;
}

.radio {
	margin-left: 25px;
}

.prov-r1, 
.prov-car, 
.prov-r2, 
.prov-r3, 
.prov-r4a, 
.prov-r4b, 
.prov-r5, 
.prov-r6, 
.prov-r7, 
.prov-r8, 
.prov-r9, 
.prov-r10, 
.prov-r11, 
.prov-r12, 
.prov-r13, 
.prov-barmm {
	display: none;	
}

#city-ncr {
	display: none;	
}

.modal {
	padding-top: 20px;
}


#callTo {
	width: 700px;
	padding: 3rem 2rem;
	background-color: #f2f2f2;
	border-radius: 15px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -45%);
	padding: 20px;
	border-radius: 10px;
}

.disclaimeratfirst {
	padding-left: 45px;
    padding-right: 30px;
}






#faqs {
	margin: auto;
	width: 1200px;
	overflow: auto;
	margin-top: 1rem;
	padding: 3rem 2rem;
}

#emergencyHotlines {
	margin: auto;
	max-width: auto;
	overflow: auto;
	margin-top: 2rem;
	padding: 3rem 2rem;
	text-align: center;

}

#theDevelopers {
	margin: auto;
	max-width: auto;
	overflow: auto;
	margin-top: 1rem;
	padding: 0 2rem;
	text-align: center;
}


h1 {
	max-width: 100%;
	text-align: left;
	font-family: 'Ramabhadra', sans-serif;
	color: hsl(0, 0%, 13%);
	font-size: 75px;
}

h2 { 
	font-family: 'PT Serif', serif;
	color: hsl(0, 0%, 13%);
	font-size: 50px;
}

h3 { 
	color: hsl(0, 0%, 13%);
	font-family: 'Montserrat', sans-serif;
	margin-left: 30px;
}

h3 span { 
	font-size: 20px;
}

h4 {
	padding: 5px 0  0 20px;
	color: hsl(0, 0%, 20%);
	font-size: 25px;
}

h4 ~ p {
	padding: 0 0  0 70px;
	color: hsl(0, 0%, 45%);
}

h5 {
	padding: 5px;
	color: hsl(0, 0%, 29%);

}

label h3 {
	margin-right: 20px;
}
/*faqs*/
.faqsAbout {
	text-align : center;
	margin-top: 50px;
}
#btn {
	background-color: #0075b3;
}
#btnCaro {
	background-color: #0075b3;
}
.accText {
	color: #fafafa;
}
.img-fluid {
	margin-top: 100px;
}
.f-caro {
	font-size: 30px;
}
.scroll {
	margin-top: 50px;
	height: 700px;
  	overflow-y: scroll;
}

.carousel-inner > .carousel-item > img {
	height: 900px;
	width: 600px;
}

.faqs-footer {
	height: 100px;
}


/*end faqs*/
.travelHistoryChoice {
	margin-left: 90px;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

.form-check-label {
	margin-left: 90px;
	font-size: 20px;
	width: 600px;
	font-family: 'Montserrat', sans-serif;
	/*background-color: red;*/
	padding-left: 5px;
	padding-top: 8px;
}


nav.navbar {
	opacity: 0.99;
	width: 100%;
	background: linear-gradient(to top, rgba(255,255,255,1) 30%,rgba(255,255,255,0) 200%);
}


.btn {
	display: block;
	width: 100%;
	padding: 10px 15px;
	border: 0;
	background: #0075b3;
	color: #f2f2f2;
	border-radius: 5px;
	margin: 5px 0;
}

.btn-prev{
	width: 48%;
	margin-right: 5px;
	background: transparent;
	color: #333;
	border-color: black;
}

.btn-next{
	width: 48%;
	margin-left: 5px;
}

#buttonPrev {
	color: #4287f5;
}


.btn:hover {
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	color: #f2f2f2;
}

.bg-dark {
	background: #333;
	color: #fff;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-align: left;
	color: hsl(0, 0%, 29%);
}

.emergencylvl2 {
	padding: 0px 0px 0px 0px;
}

li p {
    margin-top: 0;
    margin-bottom: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*iframe {
	width: auto;
	height: auto;
}*/

div.footer-main {
   	position: fixed;
   	left: 0;
   	bottom: 0;
   	width: 100%;
	background-color: #0075b3;
   	color: #f2f2f2;
   	text-align: center;
   	padding:15px;
   	margin: 0;
   	padding:0;
   	height: 7vh;
}
.logo {
	height: 50px;
}
#zuittLogo{
	height: 70px;
}

.fab {
	color: #f2f2f2;
}
/*.footerContent{
	padding: 0;
	padding-top: 0;
	margin: 0;
}*/

footer div.container-fluid {
   	position: fixed;
   	left: 0;
   	bottom: 5px;
   	width: 100%;
	background-color: #a2c2f5;
   	color: hsl(0, 0%, 50%);
   	text-align: center;
   	height: 100px;
   	padding: 0;
   	padding-top: 0;
}

div.row {
	max-width: 1500px;
	margin: auto;
}

#theDevelopers {
	margin: auto;
	max-width: auto;
	overflow: auto;
	text-align: center;

}


.theDevelopers {
	height: 350px;
	max-width: 1200px;
	margin: auto; 
}

.theDevelopers2 {
	height: 350px;
	max-width: 1200px;
	margin: auto; 
}

.developersContain {
	padding-top: 20px;
	padding-bottom: 20px;
}

/*NAME*/

#nameatabout {
	width: 200px;
	margin-top: 40px;
	margin-left: -100px; /*half of width*/
	border-radius: 15px;
	color: #fafafa;
	font-size: 20px;
}



div > span {
	width: 200px;
	margin-top: 40px;
	margin-left: -100px; /*half of width*/
	border-radius: 15px;
	color: #fafafa;
	font-size: 22px;
}

.junImg {
	background-image: url('../jun.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
	background-attachment: unset;
}

.jenImg {
	background-image: url('../jenina.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
	background-attachment: unset;
}


.laraImg {
	background-image: url('../lara.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
	background-attachment: unset;
}

/*DESCRIPTION*/

#description {
	font: caption;
    width: 250px;
    margin-top: 80px;
    margin-left: -125px; /*half of width*/
    border-radius: 15px;
    color: #fafafa;
    font-size: 14px;
    text-overflow: unset;
    font-family: inherit;
    font-weight: inherit;
}


#iconsImg {
	width: 20%;
	vertical-align: middle;
    border-style: none;
    margin-top: 230px;
	border-radius: 15px;
	color: #fafafa;
}

#iconsImgrow2 {
	width: 20%;
	vertical-align: middle;
    border-style: none;
    margin-top: 230px;
	border-radius: 15px;
	color: #fafafa;
}


.theDeveloperTitle {
	margin-bottom: 20px;
	margin-top: -10px;
}





/*ASSESSMENT PAGE*/
.theAssessmentTitle {
	margin-bottom: 20px;
	margin-top: -10px;
	text-align: center;
}

	.assessmentContainer {
	max-width: 1200px;
	padding-left: 70px;
    padding-right: 70px;
	margin: auto;
	}



#assessmentTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#assessmentTable td, #assessmentTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#assessmentTable tr:nth-child(even){background-color: #f2f2f2;}

#assessmentTable tr:hover {background-color: #ddd;}

#assessmentTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #0075b3;
	color: white;
}

#profileName {
	padding-bottom: 30px;
}


@media only screen and (max-width: 400px){
	#callTo {
		width: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	
	h1 { 
		font-size: 45px;
	}

	h2 { 
	font-family: 'PT Serif', serif;
	color: hsl(0, 0%, 13%);
	font-size: 33px;
	}

	h4 ~ p {
		padding: 0;
		font-size: 16px;
	}

	h4 {
		padding: initial;
		font-size: 25px;
	}

	#faqs {
		width: auto;
	}

	#emergencyHotlines > h4 {
		font-size: 22px;
	}

	#emergencyHotlines > h5 {
		font-size: 17px;
	}

	.modal {
		overflow-y: auto;
	}

	footer div.container-fluid {
   	height: 125px;
	}

	.pt-5, .py-5 {
    padding-top: 45px;
	}

	.travelHistoryChoice {
    margin-left: 50px;
	}
	
	.form-check-label {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    width: auto;
	}

	dl, ol, ul {
    margin-right: 20px;
	}
	.logo{
		height: 30px;
	}
	
	#zuittLogo{
		height: 35px;
	}
	
	.container{
		height: 90vh;
		margin: 0;
	}

	.assessmentContainer {
	max-width: unset;
	padding-left: unset;
    padding-right: unset;
	}

	h3, #profileName {
    padding-left: unset;
    margin-left: unset;
}

   	.theDeveloperTitle {
	margin-top: inherit;
	}

	
	.theDevelopers {
	height: 1000px;
	max-width: 1200px;
	margin: auto; 
	}

	#iconsImg {
	margin-top: 220px;
	}


	.theDevelopers2 {
	height: 900px;
	max-width: 1200px;
	margin: auto; 
	}

	#iconsImgrow2 {
	margin-top: 200px;
	}

	.jenImg {
	background-image: url('../lara.jpg');
	}

	.laraImg {
	background-image: url('../jenina.jpg');
	}

	#nameatabout {
	margin-top: 30px;
	}


	#description {
    margin-top: 75px;
	}

	.developersContain {
		 padding-left: 0px;
    	padding-right: 0px;
	}

	div.footer-main {
    font-size: 10px;
    padding-top: initial;
	}

    .carousel-inner > .carousel-item > img {
    height: 280px;}

}



/*tablet style*/
@media only screen and (max-width: 1366px) and (min-width: 1024px) {
	
#callTo {
		width: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#title{
		font-size: 50px;
	}

	#faqs {
		width: auto;
	}
	.img-fluid {
	height: 200px;
	}
.f-caro {
	font-size: 15px;
	}
nav.navbar {
	opacity: 0.99;
	width: 100%;
	background: linear-gradient(to top, rgba(255,255,255,1) 30%,rgba(255,255,255,0) 200%);
	}
	div.footer-main {
   	position: fixed;
   	left: 0;
   	bottom: 0;
   	width: 100%;
	background-color: #0075B3;
   	color: #f2f2f2;
   	text-align: center;
   	padding:15px;
   	margin: 0;
   	padding-top:3vh;
   	height:10vh;
   	font-size: 13px;
	}
	.container{
		height: 90vh;
	}
	.logo{
		height: 14px;
	}
	#zuittLogo{
		height: 20px;
	}

	#description {
    width: 200px;
    margin-left: -100px;
	}

	.modal { 
		padding-top: 300px; 
	} 
	#iconsImgrow2 { margin-top: 260px; } 

}


/*mobile*/
@media only screen  and (max-width: 736px)  {

.img-fluid {
	height: 200px;
}
.f-caro {
	font-size: 15px;
}
.carousel-inner > .carousel-item > img {
    height: 280px;
}



/* desktop styling */
@media only screen and (min-width: 961px) {
	
	#callTo {
		width: 600px;
	}

	#faqs {
		width: auto;
	}

	#emergencyHotlines {
		padding-left: 30px;
	}
	div.footer-main {
   	position: fixed;
   	left: 0;
   	bottom: 0;
   	width: 100%;
	background-color: #4287f5;
   	color: #f2f2f2;
   	text-align: center;
   	padding:15px;
   	margin: 0;
   	padding:2vh;
   	height:10vh;
   	font-size: 25px;
	}
	.container{
		height: 90vh;
	}
	.logo{
		height: 50px;
	}
	#zuittLogo{
		height: 55px;
	}


}

